In [1]:
# Surpress warnings:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

import numpy as np
import pandas as pd

In [2]:
sainc35=pd.read_csv('data/income/SAINC35__ALL_AREAS_1929_2020.csv')
sainc35.drop(columns=['IndustryClassification','Region'],inplace=True)
sainc35=sainc35[~(sainc35.isnull().any(axis=1))]

In [3]:
sainc35.drop(columns=[str(x) for x in np.arange(1929,1976)],inplace=True)

In [4]:
sainc35.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2640 entries, 0 to 2639
Data columns (total 51 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GeoFIPS      2640 non-null   object
 1   GeoName      2640 non-null   object
 2   TableName    2640 non-null   object
 3   LineCode     2640 non-null   float64
 4   Description  2640 non-null   object
 5   Unit         2640 non-null   object
 6   1976         2640 non-null   object
 7   1977         2640 non-null   object
 8   1978         2640 non-null   object
 9   1979         2640 non-null   object
 10  1980         2640 non-null   object
 11  1981         2640 non-null   object
 12  1982         2640 non-null   object
 13  1983         2640 non-null   object
 14  1984         2640 non-null   object
 15  1985         2640 non-null   object
 16  1986         2640 non-null   object
 17  1987         2640 non-null   object
 18  1988         2640 non-null   object
 19  1989         2640 non-null   object
 20  1990         2640 non-null   object
 21  1991         2640 non-null   object
 22  1992         2640 non-null   object
 23  1993         2640 non-null   object
 24  1994         2640 non-null   object
 25  1995         2640 non-null   object
 26  1996         2640 non-null   object
 27  1997         2640 non-null   object
 28  1998         2640 non-null   object
 29  1999         2640 non-null   object
 30  2000         2640 non-null   object
 31  2001         2640 non-null   object
 32  2002         2640 non-null   object
 33  2003         2640 non-null   float64
 34  2004         2640 non-null   float64
 35  2005         2640 non-null   float64
 36  2006         2640 non-null   float64
 37  2007         2640 non-null   float64
 38  2008         2640 non-null   float64
 39  2009         2640 non-null   float64
 40  2010         2640 non-null   float64
 41  2011         2640 non-null   float64
 42  2012         2640 non-null   float64
 43  2013         2640 non-null   float64
 44  2014         2640 non-null   float64
 45  2015         2640 non-null   float64
 46  2016         2640 non-null   float64
 47  2017         2640 non-null   float64
 48  2018         2640 non-null   float64
 49  2019         2640 non-null   float64
 50  2020         2640 non-null   float64
dtypes: float64(19), object(32)
memory usage: 1.0+ MB

In [5]:
sainc35.GeoFIPS.unique()

array([' "00000"', ' "01000"', ' "02000"', ' "04000"', ' "05000"',
       ' "06000"', ' "08000"', ' "09000"', ' "10000"', ' "11000"',
       ' "12000"', ' "13000"', ' "15000"', ' "16000"', ' "17000"',
       ' "18000"', ' "19000"', ' "20000"', ' "21000"', ' "22000"',
       ' "23000"', ' "24000"', ' "25000"', ' "26000"', ' "27000"',
       ' "28000"', ' "29000"', ' "30000"', ' "31000"', ' "32000"',
       ' "33000"', ' "34000"', ' "35000"', ' "36000"', ' "37000"',
       ' "38000"', ' "39000"', ' "40000"', ' "41000"', ' "42000"',
       ' "44000"', ' "45000"', ' "46000"', ' "47000"', ' "48000"',
       ' "49000"', ' "50000"', ' "51000"', ' "53000"', ' "54000"',
       ' "55000"', ' "56000"', ' "91000"', ' "92000"', ' "93000"',
       ' "94000"', ' "95000"', ' "96000"', ' "97000"', ' "98000"'],
      dtype=object)

In [6]:
sainc35.rename(columns={'GeoFIPS':'fips'},inplace=True)
sainc35=sainc35.astype({'fips': 'str'})
sainc35.fips = sainc35.fips.apply(lambda x: x.strip()[1:-1])
sainc35=sainc35.astype({'fips': 'int'})
sainc35.fips = sainc35.fips.apply(lambda x: int(x/1000))
sainc35.fips.unique()

array([ 0,  1,  2,  4,  5,  6,  8,  9, 10, 11, 12, 13, 15, 16, 17, 18, 19,
       20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
       37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55,
       56, 91, 92, 93, 94, 95, 96, 97, 98], dtype=int64)

In [7]:
sainc35=sainc35[sainc35.fips<90]

In [8]:
sainc35.rename(columns={'GeoName':'state'},inplace=True)

In [9]:
sainc35[['LineCode','Description','Unit']].drop_duplicates()

,LineCode,Description,Unit
0,1000.0,Personal current transfer receipts (thousands ...,Thousands of dollars
1,2000.0,Current transfer receipts of individuals from...,Thousands of dollars
2,2100.0,Retirement and disability insurance benefits,Thousands of dollars
3,2110.0,Social Security benefits,Thousands of dollars
4,2120.0,Excluding Social Security benefits,Thousands of dollars
5,2121.0,Railroad retirement and disability benefits,Thousands of dollars
6,2122.0,Workers' compensation,Thousands of dollars
7,2123.0,Other government retirement and disability...,Thousands of dollars
8,2200.0,Medical benefits,Thousands of dollars
9,2210.0,Medicare benefits,Thousands of dollars
10,2220.0,Public assistance medical care benefits 2/,Thousands of dollars
11,2221.0,Medicaid 3/,Thousands of dollars
12,2222.0,Other medical care benefits 4/,Thousands of dollars
13,2230.0,Military medical insurance benefits 5/,Thousands of dollars
14,2300.0,Income maintenance benefits,Thousands of dollars
15,2310.0,Supplemental Security Income (SSI) benefits,Thousands of dollars
16,2320.0,Earned Income Tax Credit (EITC),Thousands of dollars
17,2330.0,Supplemental Nutrition Assistance Program (...,Thousands of dollars
18,2340.0,Other income maintenance benefits,Thousands of dollars
19,2341.0,Family assistance 6/,Thousands of dollars
20,2342.0,Excluding family assistance 7/,Thousands of dollars
21,2400.0,Unemployment insurance compensation,Thousands of dollars
22,2410.0,State unemployment insurance compensation,Thousands of dollars
23,2420.0,Excluding state unemployment insurance comp...,Thousands of dollars
24,2421.0,Unemployment compensation for Federal civi...,Thousands of dollars
25,2422.0,Unemployment compensation for railroad emp...,Thousands of dollars
26,2423.0,Unemployment compensation for veterans (UCX),Thousands of dollars
27,2424.0,Other unemployment compensation 8/,Thousands of dollars
28,2500.0,Veterans' benefits,Thousands of dollars
29,2510.0,Veterans' pension and disability benefits,Thousands of dollars
30,2520.0,Veterans' readjustment benefits 9/,Thousands of dollars
31,2530.0,Veterans' life insurance benefits,Thousands of dollars
32,2540.0,Other assistance to veterans 10/,Thousands of dollars
33,2600.0,Education and training assistance 11/,Thousands of dollars
34,2700.0,Other transfer receipts of individuals from ...,Thousands of dollars
35,3000.0,Current transfer receipts of nonprofit instit...,Thousands of dollars
36,3100.0,Receipts from the Federal government,Thousands of dollars
37,3200.0,Receipts from state and local governments,Thousands of dollars
38,3300.0,Receipts from businesses,Thousands of dollars
39,4000.0,Current transfer receipts of individuals from...,Thousands of dollars
40,5000.0,Refundable tax credits 14/,Thousands of dollars
41,5100.0,Earned Income Tax Credit (EITC) 15/,Thousands of dollars
42,5200.0,Additional Child Tax Credit 16/,Thousands of dollars
43,5300.0,Other refundable tax credits 17/,Thousands of dollars

In [10]:
def str_transform(feature,unit):
    feature=feature.strip()
    if feature[-1]=='/':
        feature=feature[:-3]
    return feature+', '+unit.strip()

In [11]:
sainc35.Description=pd.Series([str_transform(x,y) for x,y in zip(sainc35.Description,sainc35.Unit)])

In [12]:
sainc35.rename(columns={'LineCode':'code','Description':'features'},inplace=True)
sainc35=sainc35.astype({'code': 'int'})
sainc35.drop(columns=['Unit'],inplace=True)

In [13]:
sainc35.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2288 entries, 0 to 2287
Data columns (total 50 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fips       2288 non-null   int64
 1   state      2288 non-null   object
 2   TableName  2288 non-null   object
 3   code       2288 non-null   int32
 4   features   2288 non-null   object
 5   1976       2288 non-null   object
 6   1977       2288 non-null   object
 7   1978       2288 non-null   object
 8   1979       2288 non-null   object
 9   1980       2288 non-null   object
 10  1981       2288 non-null   object
 11  1982       2288 non-null   object
 12  1983       2288 non-null   object
 13  1984       2288 non-null   object
 14  1985       2288 non-null   object
 15  1986       2288 non-null   object
 16  1987       2288 non-null   object
 17  1988       2288 non-null   object
 18  1989       2288 non-null   object
 19  1990       2288 non-null   object
 20  1991       2288 non-null   object
 21  1992       2288 non-null   object
 22  1993       2288 non-null   object
 23  1994       2288 non-null   object
 24  1995       2288 non-null   object
 25  1996       2288 non-null   object
 26  1997       2288 non-null   object
 27  1998       2288 non-null   object
 28  1999       2288 non-null   object
 29  2000       2288 non-null   object
 30  2001       2288 non-null   object
 31  2002       2288 non-null   object
 32  2003       2288 non-null   float64
 33  2004       2288 non-null   float64
 34  2005       2288 non-null   float64
 35  2006       2288 non-null   float64
 36  2007       2288 non-null   float64
 37  2008       2288 non-null   float64
 38  2009       2288 non-null   float64
 39  2010       2288 non-null   float64
 40  2011       2288 non-null   float64
 41  2012       2288 non-null   float64
 42  2013       2288 non-null   float64
 43  2014       2288 non-null   float64
 44  2015       2288 non-null   float64
 45  2016       2288 non-null   float64
 46  2017       2288 non-null   float64
 47  2018       2288 non-null   float64
 48  2019       2288 non-null   float64
 49  2020       2288 non-null   float64
dtypes: float64(18), int32(1), int64(1), object(30)
memory usage: 902.7+ KB

In [14]:
unavailable_features=sainc35[(sainc35=='(NA)').any(axis=1)].features.unique().tolist()
unavailable_features

['Additional Child Tax Credit , Thousands of dollars',
 'Other refundable tax credits , Thousands of dollars']

In [15]:
sainc35=sainc35[~(sainc35.features.isin(unavailable_features))]

In [16]:
sainc35.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2184 entries, 0 to 2285
Data columns (total 50 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fips       2184 non-null   int64
 1   state      2184 non-null   object
 2   TableName  2184 non-null   object
 3   code       2184 non-null   int32
 4   features   2184 non-null   object
 5   1976       2184 non-null   object
 6   1977       2184 non-null   object
 7   1978       2184 non-null   object
 8   1979       2184 non-null   object
 9   1980       2184 non-null   object
 10  1981       2184 non-null   object
 11  1982       2184 non-null   object
 12  1983       2184 non-null   object
 13  1984       2184 non-null   object
 14  1985       2184 non-null   object
 15  1986       2184 non-null   object
 16  1987       2184 non-null   object
 17  1988       2184 non-null   object
 18  1989       2184 non-null   object
 19  1990       2184 non-null   object
 20  1991       2184 non-null   object
 21  1992       2184 non-null   object
 22  1993       2184 non-null   object
 23  1994       2184 non-null   object
 24  1995       2184 non-null   object
 25  1996       2184 non-null   object
 26  1997       2184 non-null   object
 27  1998       2184 non-null   object
 28  1999       2184 non-null   object
 29  2000       2184 non-null   object
 30  2001       2184 non-null   object
 31  2002       2184 non-null   object
 32  2003       2184 non-null   float64
 33  2004       2184 non-null   float64
 34  2005       2184 non-null   float64
 35  2006       2184 non-null   float64
 36  2007       2184 non-null   float64
 37  2008       2184 non-null   float64
 38  2009       2184 non-null   float64
 39  2010       2184 non-null   float64
 40  2011       2184 non-null   float64
 41  2012       2184 non-null   float64
 42  2013       2184 non-null   float64
 43  2014       2184 non-null   float64
 44  2015       2184 non-null   float64
 45  2016       2184 non-null   float64
 46  2017       2184 non-null   float64
 47  2018       2184 non-null   float64
 48  2019       2184 non-null   float64
 49  2020       2184 non-null   float64
dtypes: float64(18), int32(1), int64(1), object(30)
memory usage: 861.7+ KB

In [17]:
def attempt_conversion(x):
    try:
        float(x)
    except:
        return True
    else:
        return False

In [18]:
sainc35[sainc35['1983'].apply(attempt_conversion)].size

0

In [19]:
for year in np.arange(1976,2003):
    if (sainc35[sainc35['1983'].apply(attempt_conversion)].size!=0):
        print(year)

In [20]:
conversion_dict={str(x):'float' for x in np.arange(1976,2003)}

In [21]:
sainc35=sainc35.astype(conversion_dict)

In [22]:
sainc35.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2184 entries, 0 to 2285
Data columns (total 50 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fips       2184 non-null   int64
 1   state      2184 non-null   object
 2   TableName  2184 non-null   object
 3   code       2184 non-null   int32
 4   features   2184 non-null   object
 5   1976       2184 non-null   float64
 6   1977       2184 non-null   float64
 7   1978       2184 non-null   float64
 8   1979       2184 non-null   float64
 9   1980       2184 non-null   float64
 10  1981       2184 non-null   float64
 11  1982       2184 non-null   float64
 12  1983       2184 non-null   float64
 13  1984       2184 non-null   float64
 14  1985       2184 non-null   float64
 15  1986       2184 non-null   float64
 16  1987       2184 non-null   float64
 17  1988       2184 non-null   float64
 18  1989       2184 non-null   float64
 19  1990       2184 non-null   float64
 20  1991       2184 non-null   float64
 21  1992       2184 non-null   float64
 22  1993       2184 non-null   float64
 23  1994       2184 non-null   float64
 24  1995       2184 non-null   float64
 25  1996       2184 non-null   float64
 26  1997       2184 non-null   float64
 27  1998       2184 non-null   float64
 28  1999       2184 non-null   float64
 29  2000       2184 non-null   float64
 30  2001       2184 non-null   float64
 31  2002       2184 non-null   float64
 32  2003       2184 non-null   float64
 33  2004       2184 non-null   float64
 34  2005       2184 non-null   float64
 35  2006       2184 non-null   float64
 36  2007       2184 non-null   float64
 37  2008       2184 non-null   float64
 38  2009       2184 non-null   float64
 39  2010       2184 non-null   float64
 40  2011       2184 non-null   float64
 41  2012       2184 non-null   float64
 42  2013       2184 non-null   float64
 43  2014       2184 non-null   float64
 44  2015       2184 non-null   float64
 45  2016       2184 non-null   float64
 46  2017       2184 non-null   float64
 47  2018       2184 non-null   float64
 48  2019       2184 non-null   float64
 49  2020       2184 non-null   float64
dtypes: float64(45), int32(1), int64(1), object(3)
memory usage: 861.7+ KB

In [23]:
sainc35.describe()

,fips,code,1976,1977,1978,1979,1980,1981,1982,1983,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
count,2184.000000,2184.000000,2.184000e+03,2.184000e+03,2.184000e+03,2.184000e+03,2.184000e+03,2.184000e+03,2.184000e+03,2.184000e+03,...,2.184000e+03,2.184000e+03,2.184000e+03,2.184000e+03,2.184000e+03,2.184000e+03,2.184000e+03,2.184000e+03,2.184000e+03,2.184000e+03
mean,28.403846,2542.904762,6.955211e+05,7.381319e+05,7.933709e+05,8.879386e+05,1.058607e+06,1.199949e+06,1.334520e+06,1.442068e+06,...,9.106258e+06,9.149655e+06,9.401374e+06,9.871005e+06,1.042874e+07,1.076822e+07,1.108763e+07,1.154492e+07,1.216846e+07,1.610865e+07
std,16.030402,709.003436,6.188218e+06,6.619031e+06,7.132595e+06,8.002511e+06,9.483040e+06,1.083936e+07,1.209185e+07,1.305574e+07,...,8.013352e+07,8.101378e+07,8.344203e+07,8.770823e+07,9.273364e+07,9.586494e+07,9.882843e+07,1.030413e+08,1.087007e+08,1.405411e+08
min,0.000000,1000.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,15.750000,2220.000000,8.044500e+03,8.253750e+03,8.973250e+03,9.612750e+03,1.203225e+04,1.278050e+04,1.113125e+04,1.183000e+04,...,7.436225e+04,7.099325e+04,6.870650e+04,7.099175e+04,7.755075e+04,7.916225e+04,8.334925e+04,8.415175e+04,8.573900e+04,1.037590e+05
50%,28.500000,2371.000000,4.005400e+04,4.005650e+04,4.295200e+04,4.821950e+04,5.997200e+04,6.365450e+04,6.399400e+04,6.826750e+04,...,4.485035e+05,4.118350e+05,3.893235e+05,3.955390e+05,3.995240e+05,4.015000e+05,4.150845e+05,4.291110e+05,4.485670e+05,7.915890e+05
75%,41.250000,2530.000000,1.845508e+05,1.873145e+05,1.913228e+05,2.130830e+05,2.682468e+05,2.886660e+05,3.281535e+05,3.467078e+05,...,2.294594e+06,2.115838e+06,2.077980e+06,2.165178e+06,2.255956e+06,2.317426e+06,2.420184e+06,2.444692e+06,2.492895e+06,4.708985e+06
max,56.000000,5100.000000,1.848450e+08,1.951110e+08,2.105610e+08,2.363760e+08,2.808740e+08,3.197620e+08,3.561410e+08,3.846710e+08,...,2.358654e+09,2.362988e+09,2.424317e+09,2.541516e+09,2.685370e+09,2.776983e+09,2.856320e+09,2.976288e+09,3.139054e+09,4.241091e+09

In [24]:
df=sainc35[sainc35.fips!=0]

In [25]:
features_with_zeros=df[(df == 0).any(axis=1)].features.unique().tolist()
features_with_zeros

['Other medical care benefits, Thousands of dollars',
 'Other transfer receipts of individuals from governments , Thousands of dollars',
 'Other unemployment compensation, Thousands of dollars',
 'Other assistance to veterans , Thousands of dollars',
 'Medicaid, Thousands of dollars',
 'Unemployment compensation for railroad employees, Thousands of dollars']

In [26]:
df=sainc35[sainc35.fips==0].drop(columns=['fips'])

In [27]:
df[(df == 0).any(axis=1)]

Empty DataFrame
Columns: [state, TableName, code, features, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
Index: []

[0 rows x 49 columns]

In [28]:
sainc35=sainc35[~(sainc35.features.isin(features_with_zeros))]

In [29]:
sainc35.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1872 entries, 0 to 2285
Data columns (total 50 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fips       1872 non-null   int64
 1   state      1872 non-null   object
 2   TableName  1872 non-null   object
 3   code       1872 non-null   int32
 4   features   1872 non-null   object
 5   1976       1872 non-null   float64
 6   1977       1872 non-null   float64
 7   1978       1872 non-null   float64
 8   1979       1872 non-null   float64
 9   1980       1872 non-null   float64
 10  1981       1872 non-null   float64
 11  1982       1872 non-null   float64
 12  1983       1872 non-null   float64
 13  1984       1872 non-null   float64
 14  1985       1872 non-null   float64
 15  1986       1872 non-null   float64
 16  1987       1872 non-null   float64
 17  1988       1872 non-null   float64
 18  1989       1872 non-null   float64
 19  1990       1872 non-null   float64
 20  1991       1872 non-null   float64
 21  1992       1872 non-null   float64
 22  1993       1872 non-null   float64
 23  1994       1872 non-null   float64
 24  1995       1872 non-null   float64
 25  1996       1872 non-null   float64
 26  1997       1872 non-null   float64
 27  1998       1872 non-null   float64
 28  1999       1872 non-null   float64
 29  2000       1872 non-null   float64
 30  2001       1872 non-null   float64
 31  2002       1872 non-null   float64
 32  2003       1872 non-null   float64
 33  2004       1872 non-null   float64
 34  2005       1872 non-null   float64
 35  2006       1872 non-null   float64
 36  2007       1872 non-null   float64
 37  2008       1872 non-null   float64
 38  2009       1872 non-null   float64
 39  2010       1872 non-null   float64
 40  2011       1872 non-null   float64
 41  2012       1872 non-null   float64
 42  2013       1872 non-null   float64
 43  2014       1872 non-null   float64
 44  2015       1872 non-null   float64
 45  2016       1872 non-null   float64
 46  2017       1872 non-null   float64
 47  2018       1872 non-null   float64
 48  2019       1872 non-null   float64
 49  2020       1872 non-null   float64
dtypes: float64(45), int32(1), int64(1), object(3)
memory usage: 738.6+ KB

In [30]:
df=sainc35.drop(columns=['fips','state','code','features'])

In [31]:
df.describe().loc['min'].min()

10.0

In [32]:
sainc35.features.unique().tolist()

['Personal current transfer receipts (thousands of dollars), Thousands of dollars',
 'Current transfer receipts of individuals from governments, Thousands of dollars',
 'Retirement and disability insurance benefits, Thousands of dollars',
 'Social Security benefits, Thousands of dollars',
 'Excluding Social Security benefits, Thousands of dollars',
 'Railroad retirement and disability benefits, Thousands of dollars',
 "Workers' compensation, Thousands of dollars",
 'Other government retirement and disability insurance benefits, Thousands of dollars',
 'Medical benefits, Thousands of dollars',
 'Medicare benefits, Thousands of dollars',
 'Public assistance medical care benefits, Thousands of dollars',
 'Military medical insurance benefits, Thousands of dollars',
 'Income maintenance benefits, Thousands of dollars',
 'Supplemental Security Income (SSI) benefits, Thousands of dollars',
 'Earned Income Tax Credit (EITC), Thousands of dollars',
 'Supplemental Nutrition Assistance Program (SNAP), Thousands of dollars',
 'Other income maintenance benefits, Thousands of dollars',
 'Family assistance, Thousands of dollars',
 'Excluding family assistance, Thousands of dollars',
 'Unemployment insurance compensation, Thousands of dollars',
 'State unemployment insurance compensation, Thousands of dollars',
 'Excluding state unemployment insurance compensation, Thousands of dollars',
 'Unemployment compensation for Federal civilian employees (UCFE), Thousands of dollars',
 'Unemployment compensation for veterans (UCX), Thousands of dollars',
 "Veterans' benefits, Thousands of dollars",
 "Veterans' pension and disability benefits, Thousands of dollars",
 "Veterans' readjustment benefits, Thousands of dollars",
 "Veterans' life insurance benefits, Thousands of dollars",
 'Education and training assistance , Thousands of dollars',
 'Current transfer receipts of nonprofit institutions, Thousands of dollars',
 'Receipts from the Federal government, Thousands of dollars',
 'Receipts from state and local governments, Thousands of dollars',
 'Receipts from businesses, Thousands of dollars',
 'Current transfer receipts of individuals from businesses , Thousands of dollars',
 'Refundable tax credits , Thousands of dollars',
 'Earned Income Tax Credit (EITC) , Thousands of dollars']

In [33]:
sainc35.to_csv('data/sainc.csv',index=False,mode='a')