In [1]:
# Surpress warnings:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

import numpy as np
import pandas as pd

In [2]:
sainc50=pd.read_csv('data/income/SAINC50__ALL_AREAS_1948_2020.csv')
sainc50.drop(columns=['IndustryClassification','Region'],inplace=True)
sainc50=sainc50[~(sainc50.isnull().any(axis=1))]

In [3]:
sainc50.head()

,GeoFIPS,GeoName,TableName,LineCode,Description,Unit,1948,1949,1950,1951,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,"""00000""",United States *,SAINC50,10.0,Personal income (thousands of dollars),Thousands of dollars,211495000,209009000,232835639,262330710,...,1.333044e+10,1.400335e+10,1.418923e+10,1.496953e+10,1.568123e+10,1.609271e+10,1.684503e+10,1.768116e+10,1.840200e+10,1.960745e+10
1,"""00000""",United States *,SAINC50,15.0,Less: Personal current taxes,Thousands of dollars,19132000,16667000,18844000,26876000,...,1.451655e+09,1.507470e+09,1.674228e+09,1.782338e+09,1.937443e+09,1.956564e+09,2.047365e+09,2.074146e+09,2.202823e+09,2.193355e+09
2,"""00000""",United States *,SAINC50,16.0,Equals: Disposable personal income,Thousands of dollars,192363000,192342000,213991639,235454710,...,1.187878e+10,1.249588e+10,1.251500e+10,1.318719e+10,1.374379e+10,1.413615e+10,1.479766e+10,1.560701e+10,1.619918e+10,1.741409e+10
3,"""00000""",United States *,SAINC50,20.0,Population (persons) 1/,Number of persons,146091000,148666000,151871000,153970000,...,3.115835e+08,3.138777e+08,3.160599e+08,3.183863e+08,3.207390e+08,3.230718e+08,3.251221e+08,3.268382e+08,3.283300e+08,3.294841e+08
4,"""00000""",United States *,SAINC50,30.0,Per capita personal income (dollars) 2/,Dollars,1448,1406,1533,1704,...,4.278300e+04,4.461400e+04,4.489400e+04,4.701700e+04,4.889100e+04,4.981200e+04,5.181100e+04,5.409800e+04,5.604700e+04,5.951000e+04

In [4]:
sainc50.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1200 entries, 0 to 1199
Data columns (total 79 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GeoFIPS      1200 non-null   object
 1   GeoName      1200 non-null   object
 2   TableName    1200 non-null   object
 3   LineCode     1200 non-null   float64
 4   Description  1200 non-null   object
 5   Unit         1200 non-null   object
 6   1948         1200 non-null   object
 7   1949         1200 non-null   object
 8   1950         1200 non-null   object
 9   1951         1200 non-null   object
 10  1952         1200 non-null   object
 11  1953         1200 non-null   object
 12  1954         1200 non-null   object
 13  1955         1200 non-null   object
 14  1956         1200 non-null   object
 15  1957         1200 non-null   object
 16  1958         1200 non-null   object
 17  1959         1200 non-null   object
 18  1960         1200 non-null   object
 19  1961         1200 non-null   object
 20  1962         1200 non-null   object
 21  1963         1200 non-null   object
 22  1964         1200 non-null   object
 23  1965         1200 non-null   object
 24  1966         1200 non-null   object
 25  1967         1200 non-null   object
 26  1968         1200 non-null   object
 27  1969         1200 non-null   float64
 28  1970         1200 non-null   float64
 29  1971         1200 non-null   float64
 30  1972         1200 non-null   float64
 31  1973         1200 non-null   float64
 32  1974         1200 non-null   float64
 33  1975         1200 non-null   float64
 34  1976         1200 non-null   float64
 35  1977         1200 non-null   float64
 36  1978         1200 non-null   float64
 37  1979         1200 non-null   float64
 38  1980         1200 non-null   float64
 39  1981         1200 non-null   float64
 40  1982         1200 non-null   float64
 41  1983         1200 non-null   float64
 42  1984         1200 non-null   float64
 43  1985         1200 non-null   float64
 44  1986         1200 non-null   float64
 45  1987         1200 non-null   float64
 46  1988         1200 non-null   float64
 47  1989         1200 non-null   float64
 48  1990         1200 non-null   float64
 49  1991         1200 non-null   float64
 50  1992         1200 non-null   float64
 51  1993         1200 non-null   float64
 52  1994         1200 non-null   float64
 53  1995         1200 non-null   float64
 54  1996         1200 non-null   float64
 55  1997         1200 non-null   float64
 56  1998         1200 non-null   float64
 57  1999         1200 non-null   float64
 58  2000         1200 non-null   float64
 59  2001         1200 non-null   float64
 60  2002         1200 non-null   float64
 61  2003         1200 non-null   float64
 62  2004         1200 non-null   float64
 63  2005         1200 non-null   float64
 64  2006         1200 non-null   float64
 65  2007         1200 non-null   float64
 66  2008         1200 non-null   float64
 67  2009         1200 non-null   float64
 68  2010         1200 non-null   float64
 69  2011         1200 non-null   float64
 70  2012         1200 non-null   float64
 71  2013         1200 non-null   float64
 72  2014         1200 non-null   float64
 73  2015         1200 non-null   float64
 74  2016         1200 non-null   float64
 75  2017         1200 non-null   float64
 76  2018         1200 non-null   float64
 77  2019         1200 non-null   float64
 78  2020         1200 non-null   float64
dtypes: float64(53), object(26)
memory usage: 750.0+ KB

In [5]:
sainc50.drop(columns=[str(x) for x in np.arange(1948,1976)],inplace=True)

In [6]:
sainc50.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1200 entries, 0 to 1199
Data columns (total 51 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GeoFIPS      1200 non-null   object
 1   GeoName      1200 non-null   object
 2   TableName    1200 non-null   object
 3   LineCode     1200 non-null   float64
 4   Description  1200 non-null   object
 5   Unit         1200 non-null   object
 6   1976         1200 non-null   float64
 7   1977         1200 non-null   float64
 8   1978         1200 non-null   float64
 9   1979         1200 non-null   float64
 10  1980         1200 non-null   float64
 11  1981         1200 non-null   float64
 12  1982         1200 non-null   float64
 13  1983         1200 non-null   float64
 14  1984         1200 non-null   float64
 15  1985         1200 non-null   float64
 16  1986         1200 non-null   float64
 17  1987         1200 non-null   float64
 18  1988         1200 non-null   float64
 19  1989         1200 non-null   float64
 20  1990         1200 non-null   float64
 21  1991         1200 non-null   float64
 22  1992         1200 non-null   float64
 23  1993         1200 non-null   float64
 24  1994         1200 non-null   float64
 25  1995         1200 non-null   float64
 26  1996         1200 non-null   float64
 27  1997         1200 non-null   float64
 28  1998         1200 non-null   float64
 29  1999         1200 non-null   float64
 30  2000         1200 non-null   float64
 31  2001         1200 non-null   float64
 32  2002         1200 non-null   float64
 33  2003         1200 non-null   float64
 34  2004         1200 non-null   float64
 35  2005         1200 non-null   float64
 36  2006         1200 non-null   float64
 37  2007         1200 non-null   float64
 38  2008         1200 non-null   float64
 39  2009         1200 non-null   float64
 40  2010         1200 non-null   float64
 41  2011         1200 non-null   float64
 42  2012         1200 non-null   float64
 43  2013         1200 non-null   float64
 44  2014         1200 non-null   float64
 45  2015         1200 non-null   float64
 46  2016         1200 non-null   float64
 47  2017         1200 non-null   float64
 48  2018         1200 non-null   float64
 49  2019         1200 non-null   float64
 50  2020         1200 non-null   float64
dtypes: float64(46), object(5)
memory usage: 487.5+ KB

In [7]:
sainc50.GeoFIPS.unique()

array([' "00000"', ' "01000"', ' "02000"', ' "04000"', ' "05000"',
       ' "06000"', ' "08000"', ' "09000"', ' "10000"', ' "11000"',
       ' "12000"', ' "13000"', ' "15000"', ' "16000"', ' "17000"',
       ' "18000"', ' "19000"', ' "20000"', ' "21000"', ' "22000"',
       ' "23000"', ' "24000"', ' "25000"', ' "26000"', ' "27000"',
       ' "28000"', ' "29000"', ' "30000"', ' "31000"', ' "32000"',
       ' "33000"', ' "34000"', ' "35000"', ' "36000"', ' "37000"',
       ' "38000"', ' "39000"', ' "40000"', ' "41000"', ' "42000"',
       ' "44000"', ' "45000"', ' "46000"', ' "47000"', ' "48000"',
       ' "49000"', ' "50000"', ' "51000"', ' "53000"', ' "54000"',
       ' "55000"', ' "56000"', ' "91000"', ' "92000"', ' "93000"',
       ' "94000"', ' "95000"', ' "96000"', ' "97000"', ' "98000"'],
      dtype=object)

In [8]:
sainc50.rename(columns={'GeoFIPS':'fips'},inplace=True)
sainc50=sainc50.astype({'fips': 'str'})
sainc50.fips = sainc50.fips.apply(lambda x: x.strip()[1:-1])
sainc50=sainc50.astype({'fips': 'int'})
sainc50.fips = sainc50.fips.apply(lambda x: int(x/1000))

In [9]:
sainc50.fips.unique()

array([ 0,  1,  2,  4,  5,  6,  8,  9, 10, 11, 12, 13, 15, 16, 17, 18, 19,
       20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
       37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55,
       56, 91, 92, 93, 94, 95, 96, 97, 98], dtype=int64)

In [10]:
sainc50[['fips','GeoName']].drop_duplicates()

      fips               GeoName
0        0       United States *
20       1               Alabama
40       2              Alaska *
60       4               Arizona
80       5              Arkansas
100      6            California
120      8              Colorado
140      9           Connecticut
160     10              Delaware
180     11  District of Columbia
200     12               Florida
220     13               Georgia
240     15              Hawaii *
260     16                 Idaho
280     17              Illinois
300     18               Indiana
320     19                  Iowa
340     20                Kansas
360     21              Kentucky
380     22             Louisiana
400     23                 Maine
420     24              Maryland
440     25         Massachusetts
460     26              Michigan
480     27             Minnesota
500     28           Mississippi
520     29              Missouri
540     30               Montana
560     31              Nebraska
580     32                Nevada
600     33         New Hampshire
620     34            New Jersey
640     35            New Mexico
660     36              New York
680     37        North Carolina
700     38          North Dakota
720     39                  Ohio
740     40              Oklahoma
760     41                Oregon
780     42          Pennsylvania
800     44          Rhode Island
820     45        South Carolina
840     46          South Dakota
860     47             Tennessee
880     48                 Texas
900     49                  Utah
920     50               Vermont
940     51              Virginia
960     53            Washington
980     54         West Virginia
1000    55             Wisconsin
1020    56               Wyoming
1040    91           New England
1060    92               Mideast
1080    93           Great Lakes
1100    94                Plains
1120    95             Southeast
1140    96             Southwest
1160    97        Rocky Mountain
1180    98            Far West *

In [11]:
sainc50=sainc50[sainc50.fips<90]

In [12]:
sainc50.rename(columns={'GeoName':'state'},inplace=True)

In [13]:
sainc50.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1040 entries, 0 to 1039
Data columns (total 51 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fips         1040 non-null   int64
 1   state        1040 non-null   object
 2   TableName    1040 non-null   object
 3   LineCode     1040 non-null   float64
 4   Description  1040 non-null   object
 5   Unit         1040 non-null   object
 6   1976         1040 non-null   float64
 7   1977         1040 non-null   float64
 8   1978         1040 non-null   float64
 9   1979         1040 non-null   float64
 10  1980         1040 non-null   float64
 11  1981         1040 non-null   float64
 12  1982         1040 non-null   float64
 13  1983         1040 non-null   float64
 14  1984         1040 non-null   float64
 15  1985         1040 non-null   float64
 16  1986         1040 non-null   float64
 17  1987         1040 non-null   float64
 18  1988         1040 non-null   float64
 19  1989         1040 non-null   float64
 20  1990         1040 non-null   float64
 21  1991         1040 non-null   float64
 22  1992         1040 non-null   float64
 23  1993         1040 non-null   float64
 24  1994         1040 non-null   float64
 25  1995         1040 non-null   float64
 26  1996         1040 non-null   float64
 27  1997         1040 non-null   float64
 28  1998         1040 non-null   float64
 29  1999         1040 non-null   float64
 30  2000         1040 non-null   float64
 31  2001         1040 non-null   float64
 32  2002         1040 non-null   float64
 33  2003         1040 non-null   float64
 34  2004         1040 non-null   float64
 35  2005         1040 non-null   float64
 36  2006         1040 non-null   float64
 37  2007         1040 non-null   float64
 38  2008         1040 non-null   float64
 39  2009         1040 non-null   float64
 40  2010         1040 non-null   float64
 41  2011         1040 non-null   float64
 42  2012         1040 non-null   float64
 43  2013         1040 non-null   float64
 44  2014         1040 non-null   float64
 45  2015         1040 non-null   float64
 46  2016         1040 non-null   float64
 47  2017         1040 non-null   float64
 48  2018         1040 non-null   float64
 49  2019         1040 non-null   float64
 50  2020         1040 non-null   float64
dtypes: float64(46), int64(1), object(4)
memory usage: 422.5+ KB

In [14]:
sainc50[['LineCode','Description','Unit']].drop_duplicates()

,LineCode,Description,Unit
0,10.0,Personal income (thousands of dollars),Thousands of dollars
1,15.0,Less: Personal current taxes,Thousands of dollars
2,16.0,Equals: Disposable personal income,Thousands of dollars
3,20.0,Population (persons) 1/,Number of persons
4,30.0,Per capita personal income (dollars) 2/,Dollars
5,50.0,Per capita disposable personal income (dollars...,Dollars
6,60.0,Personal current taxes,Thousands of dollars
7,70.0,Federal government 4/,Thousands of dollars
8,80.0,Income taxes (net of refunds) 4/,Thousands of dollars
9,81.0,Income taxes (gross) 4/,Thousands of dollars
10,82.0,Less: Refunds,Thousands of dollars
11,120.0,State governments,Thousands of dollars
12,130.0,Income taxes,Thousands of dollars
13,150.0,Motor vehicle licenses,Thousands of dollars
14,160.0,Other taxes 5/,Thousands of dollars
15,180.0,Local governments,Thousands of dollars
16,190.0,Income taxes,Thousands of dollars
17,200.0,Motor vehicle licenses,Thousands of dollars
18,210.0,Other taxes,Thousands of dollars
19,230.0,State and local personal property taxes,Thousands of dollars

In [15]:
def str_transform(feature,unit):
    feature=feature.strip()
    if feature[-1]=='/':
        feature=feature[:-3]
    return feature+', '+unit.strip()

In [16]:
sainc50.Description=pd.Series([str_transform(x,y) for x,y in zip(sainc50.Description,sainc50.Unit)])

In [17]:
sainc50[['LineCode','Description','Unit']].drop_duplicates()

,LineCode,Description,Unit
0,10.0,"Personal income (thousands of dollars), Thousa...",Thousands of dollars
1,15.0,"Less: Personal current taxes, Thousands of dol...",Thousands of dollars
2,16.0,"Equals: Disposable personal income, Thousands ...",Thousands of dollars
3,20.0,"Population (persons), Number of persons",Number of persons
4,30.0,"Per capita personal income (dollars), Dollars",Dollars
5,50.0,Per capita disposable personal income (dollars...,Dollars
6,60.0,"Personal current taxes, Thousands of dollars",Thousands of dollars
7,70.0,"Federal government, Thousands of dollars",Thousands of dollars
8,80.0,"Income taxes (net of refunds), Thousands of do...",Thousands of dollars
9,81.0,"Income taxes (gross), Thousands of dollars",Thousands of dollars
10,82.0,"Less: Refunds, Thousands of dollars",Thousands of dollars
11,120.0,"State governments, Thousands of dollars",Thousands of dollars
12,130.0,"Income taxes, Thousands of dollars",Thousands of dollars
13,150.0,"Motor vehicle licenses, Thousands of dollars",Thousands of dollars
14,160.0,"Other taxes, Thousands of dollars",Thousands of dollars
15,180.0,"Local governments, Thousands of dollars",Thousands of dollars
16,190.0,"Income taxes, Thousands of dollars",Thousands of dollars
17,200.0,"Motor vehicle licenses, Thousands of dollars",Thousands of dollars
18,210.0,"Other taxes, Thousands of dollars",Thousands of dollars
19,230.0,"State and local personal property taxes, Thous...",Thousands of dollars

In [18]:
sainc50.drop(columns=['Unit'],inplace=True)

In [19]:
sainc50.rename(columns={'LineCode':'code','Description':'features'},inplace=True)
sainc50=sainc50.astype({'code': 'int'})

In [20]:
sainc50=sainc50[sainc50.features!='Population (persons), Number of persons']

In [21]:
sainc50.info()

<class 'pandas.core.frame.DataFrame'>
Index: 988 entries, 0 to 1039
Data columns (total 50 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fips       988 non-null    int64
 1   state      988 non-null    object
 2   TableName  988 non-null    object
 3   code       988 non-null    int32
 4   features   988 non-null    object
 5   1976       988 non-null    float64
 6   1977       988 non-null    float64
 7   1978       988 non-null    float64
 8   1979       988 non-null    float64
 9   1980       988 non-null    float64
 10  1981       988 non-null    float64
 11  1982       988 non-null    float64
 12  1983       988 non-null    float64
 13  1984       988 non-null    float64
 14  1985       988 non-null    float64
 15  1986       988 non-null    float64
 16  1987       988 non-null    float64
 17  1988       988 non-null    float64
 18  1989       988 non-null    float64
 19  1990       988 non-null    float64
 20  1991       988 non-null    float64
 21  1992       988 non-null    float64
 22  1993       988 non-null    float64
 23  1994       988 non-null    float64
 24  1995       988 non-null    float64
 25  1996       988 non-null    float64
 26  1997       988 non-null    float64
 27  1998       988 non-null    float64
 28  1999       988 non-null    float64
 29  2000       988 non-null    float64
 30  2001       988 non-null    float64
 31  2002       988 non-null    float64
 32  2003       988 non-null    float64
 33  2004       988 non-null    float64
 34  2005       988 non-null    float64
 35  2006       988 non-null    float64
 36  2007       988 non-null    float64
 37  2008       988 non-null    float64
 38  2009       988 non-null    float64
 39  2010       988 non-null    float64
 40  2011       988 non-null    float64
 41  2012       988 non-null    float64
 42  2013       988 non-null    float64
 43  2014       988 non-null    float64
 44  2015       988 non-null    float64
 45  2016       988 non-null    float64
 46  2017       988 non-null    float64
 47  2018       988 non-null    float64
 48  2019       988 non-null    float64
 49  2020       988 non-null    float64
dtypes: float64(45), int32(1), int64(1), object(3)
memory usage: 389.8+ KB

In [22]:
sainc50.describe()

,fips,code,1976,1977,1978,1979,1980,1981,1982,1983,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
count,988.000000,988.000000,9.880000e+02,9.880000e+02,9.880000e+02,9.880000e+02,9.880000e+02,9.880000e+02,9.880000e+02,9.880000e+02,...,9.880000e+02,9.880000e+02,9.880000e+02,9.880000e+02,9.880000e+02,9.880000e+02,9.880000e+02,9.880000e+02,9.880000e+02,9.880000e+02
mean,28.403846,108.631579,7.496991e+06,8.331232e+06,9.415148e+06,1.061215e+07,1.185990e+07,1.337079e+07,1.421995e+07,1.497862e+07,...,6.599812e+07,6.916066e+07,7.116115e+07,7.519468e+07,7.928559e+07,8.117838e+07,8.493947e+07,8.852063e+07,9.229958e+07,9.706075e+07
std,16.034849,69.941515,6.562561e+07,7.238676e+07,8.125754e+07,9.068679e+07,1.012239e+08,1.133983e+08,1.217065e+08,1.302010e+08,...,5.857626e+08,6.156268e+08,6.221882e+08,6.564499e+08,6.871301e+08,7.056609e+08,7.387394e+08,7.761090e+08,8.071913e+08,8.617933e+08
min,0.000000,10.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,15.750000,50.000000,5.927000e+03,6.408000e+03,7.168500e+03,7.865750e+03,8.741750e+03,9.662000e+03,1.027200e+04,1.100200e+04,...,3.773700e+04,3.944050e+04,3.958900e+04,4.136975e+04,4.293325e+04,4.377375e+04,4.619675e+04,4.829175e+04,5.052000e+04,5.366350e+04
50%,28.500000,82.000000,1.518955e+05,1.692685e+05,1.788390e+05,1.948420e+05,1.977515e+05,2.103795e+05,2.426425e+05,2.706845e+05,...,1.238431e+06,1.292700e+06,1.311322e+06,1.327597e+06,1.366714e+06,1.391614e+06,1.467936e+06,1.563489e+06,1.641644e+06,1.690208e+06
75%,41.250000,180.000000,1.842658e+06,2.120317e+06,2.564886e+06,3.033877e+06,3.414456e+06,3.848821e+06,3.978582e+06,3.859216e+06,...,1.471719e+07,1.482906e+07,1.609715e+07,1.662321e+07,1.795837e+07,1.865362e+07,1.884412e+07,1.839347e+07,1.953048e+07,2.012511e+07
max,56.000000,230.000000,1.495704e+09,1.651632e+09,1.855849e+09,2.073257e+09,2.313160e+09,2.592915e+09,2.779794e+09,2.968676e+09,...,1.333044e+10,1.400335e+10,1.418923e+10,1.496953e+10,1.568123e+10,1.609271e+10,1.684503e+10,1.768116e+10,1.840200e+10,1.960745e+10

In [23]:
df=sainc50[sainc50.fips!=0]

In [24]:
codes_of_features_with_zeros=df[(df == 0).any(axis=1)].code.unique().tolist()
codes_of_features_with_zeros

[130, 190, 200, 230, 120, 150, 160, 210]

In [25]:
df=sainc50[sainc50.fips==0].drop(columns=['fips'])

In [26]:
df[(df == 0).any(axis=1)]

Empty DataFrame
Columns: [state, TableName, code, features, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
Index: []

[0 rows x 49 columns]

In [27]:
sainc50=sainc50[~(sainc50.code.isin(codes_of_features_with_zeros))]

In [28]:
sainc50.info()

<class 'pandas.core.frame.DataFrame'>
Index: 572 entries, 0 to 1035
Data columns (total 50 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fips       572 non-null    int64
 1   state      572 non-null    object
 2   TableName  572 non-null    object
 3   code       572 non-null    int32
 4   features   572 non-null    object
 5   1976       572 non-null    float64
 6   1977       572 non-null    float64
 7   1978       572 non-null    float64
 8   1979       572 non-null    float64
 9   1980       572 non-null    float64
 10  1981       572 non-null    float64
 11  1982       572 non-null    float64
 12  1983       572 non-null    float64
 13  1984       572 non-null    float64
 14  1985       572 non-null    float64
 15  1986       572 non-null    float64
 16  1987       572 non-null    float64
 17  1988       572 non-null    float64
 18  1989       572 non-null    float64
 19  1990       572 non-null    float64
 20  1991       572 non-null    float64
 21  1992       572 non-null    float64
 22  1993       572 non-null    float64
 23  1994       572 non-null    float64
 24  1995       572 non-null    float64
 25  1996       572 non-null    float64
 26  1997       572 non-null    float64
 27  1998       572 non-null    float64
 28  1999       572 non-null    float64
 29  2000       572 non-null    float64
 30  2001       572 non-null    float64
 31  2002       572 non-null    float64
 32  2003       572 non-null    float64
 33  2004       572 non-null    float64
 34  2005       572 non-null    float64
 35  2006       572 non-null    float64
 36  2007       572 non-null    float64
 37  2008       572 non-null    float64
 38  2009       572 non-null    float64
 39  2010       572 non-null    float64
 40  2011       572 non-null    float64
 41  2012       572 non-null    float64
 42  2013       572 non-null    float64
 43  2014       572 non-null    float64
 44  2015       572 non-null    float64
 45  2016       572 non-null    float64
 46  2017       572 non-null    float64
 47  2018       572 non-null    float64
 48  2019       572 non-null    float64
 49  2020       572 non-null    float64
dtypes: float64(45), int32(1), int64(1), object(3)
memory usage: 225.7+ KB

In [29]:
sainc50.describe()

,fips,code,1976,1977,1978,1979,1980,1981,1982,1983,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
count,572.000000,572.000000,5.720000e+02,5.720000e+02,5.720000e+02,5.720000e+02,5.720000e+02,5.720000e+02,5.720000e+02,5.720000e+02,...,5.720000e+02,5.720000e+02,5.720000e+02,5.720000e+02,5.720000e+02,5.720000e+02,5.720000e+02,5.720000e+02,5.720000e+02,5.720000e+02
mean,28.403846,61.272727,1.274716e+07,1.415937e+07,1.599768e+07,1.804124e+07,2.016265e+07,2.273590e+07,2.417352e+07,2.543681e+07,...,1.118690e+08,1.171980e+08,1.204478e+08,1.273693e+08,1.342544e+08,1.375070e+08,1.438372e+08,1.498608e+08,1.561422e+08,1.642394e+08
std,16.040760,46.032530,8.588620e+07,9.472797e+07,1.063296e+08,1.186569e+08,1.324419e+08,1.483618e+08,1.592459e+08,1.703852e+08,...,7.666844e+08,8.057921e+08,8.142381e+08,8.590673e+08,8.991513e+08,9.234292e+08,9.667176e+08,1.015694e+09,1.056340e+09,1.127956e+09
min,0.000000,10.000000,3.970000e+02,3.930000e+02,3.740000e+02,2.070000e+02,2.820000e+02,3.250000e+02,3.660000e+02,5.770000e+02,...,2.585000e+03,2.045000e+03,1.155000e+03,1.145000e+03,1.656000e+03,1.335000e+03,1.257000e+03,1.413000e+03,1.498000e+03,1.561000e+03
25%,15.750000,16.000000,3.569425e+04,3.891100e+04,4.524450e+04,4.638750e+04,5.039650e+04,5.514500e+04,5.739225e+04,5.838425e+04,...,1.904698e+05,1.908950e+05,2.034752e+05,2.004118e+05,2.121888e+05,2.250315e+05,2.401275e+05,2.450145e+05,2.597660e+05,2.735512e+05
50%,28.500000,60.000000,1.025600e+06,1.121709e+06,1.207489e+06,1.426309e+06,1.613002e+06,1.883579e+06,1.977796e+06,1.919310e+06,...,7.882372e+06,8.236488e+06,8.643996e+06,9.074584e+06,9.846353e+06,9.941984e+06,1.013500e+07,1.024876e+07,1.026183e+07,1.032958e+07
75%,41.250000,81.000000,4.822074e+06,5.233202e+06,6.098755e+06,6.679086e+06,7.425696e+06,8.678775e+06,8.985161e+06,9.529608e+06,...,3.787027e+07,3.912993e+07,4.180556e+07,4.382629e+07,4.780320e+07,5.007547e+07,5.193726e+07,5.177696e+07,5.482147e+07,5.565155e+07
max,56.000000,180.000000,1.495704e+09,1.651632e+09,1.855849e+09,2.073257e+09,2.313160e+09,2.592915e+09,2.779794e+09,2.968676e+09,...,1.333044e+10,1.400335e+10,1.418923e+10,1.496953e+10,1.568123e+10,1.609271e+10,1.684503e+10,1.768116e+10,1.840200e+10,1.960745e+10

In [30]:
sainc50.drop(columns=['fips']).describe().loc['min'].min()

10.0

In [31]:
sainc50[['code','features']].drop_duplicates()

    code                                           features
0     10  Personal income (thousands of dollars), Thousa...
1     15  Less: Personal current taxes, Thousands of dol...
2     16  Equals: Disposable personal income, Thousands ...
4     30      Per capita personal income (dollars), Dollars
5     50  Per capita disposable personal income (dollars...
6     60       Personal current taxes, Thousands of dollars
7     70           Federal government, Thousands of dollars
8     80  Income taxes (net of refunds), Thousands of do...
9     81         Income taxes (gross), Thousands of dollars
10    82                Less: Refunds, Thousands of dollars
15   180            Local governments, Thousands of dollars

In [32]:
feature_list=sainc50.features.unique().tolist()
feature_list

['Personal income (thousands of dollars), Thousands of dollars',
 'Less: Personal current taxes, Thousands of dollars',
 'Equals: Disposable personal income, Thousands of dollars',
 'Per capita personal income (dollars), Dollars',
 'Per capita disposable personal income (dollars), Dollars',
 'Personal current taxes, Thousands of dollars',
 'Federal government, Thousands of dollars',
 'Income taxes (net of refunds), Thousands of dollars',
 'Income taxes (gross), Thousands of dollars',
 'Less: Refunds, Thousands of dollars',
 'Local governments, Thousands of dollars']

In [33]:
sainc50.to_csv('data/sainc.csv',index=False,mode='a')