In [1]:
# Surpress warnings:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

import numpy as np
import pandas as pd

In [2]:
sainc4=pd.read_csv('data/income/SAINC4__ALL_AREAS_1929_2020.csv')
sainc4.drop(columns=['IndustryClassification','Region'],inplace=True)
sainc4=sainc4[~(sainc4.isnull().any(axis=1))]

In [3]:
sainc4.drop(columns=[str(x) for x in np.arange(1929,1976)],inplace=True)

In [4]:
sainc4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1380 entries, 0 to 1379
Data columns (total 51 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GeoFIPS      1380 non-null   object
 1   GeoName      1380 non-null   object
 2   TableName    1380 non-null   object
 3   LineCode     1380 non-null   float64
 4   Description  1380 non-null   object
 5   Unit         1380 non-null   object
 6   1976         1380 non-null   float64
 7   1977         1380 non-null   float64
 8   1978         1380 non-null   float64
 9   1979         1380 non-null   float64
 10  1980         1380 non-null   float64
 11  1981         1380 non-null   float64
 12  1982         1380 non-null   float64
 13  1983         1380 non-null   object
 14  1984         1380 non-null   float64
 15  1985         1380 non-null   float64
 16  1986         1380 non-null   float64
 17  1987         1380 non-null   float64
 18  1988         1380 non-null   float64
 19  1989         1380 non-null   float64
 20  1990         1380 non-null   float64
 21  1991         1380 non-null   float64
 22  1992         1380 non-null   float64
 23  1993         1380 non-null   float64
 24  1994         1380 non-null   float64
 25  1995         1380 non-null   float64
 26  1996         1380 non-null   float64
 27  1997         1380 non-null   float64
 28  1998         1380 non-null   float64
 29  1999         1380 non-null   float64
 30  2000         1380 non-null   float64
 31  2001         1380 non-null   float64
 32  2002         1380 non-null   float64
 33  2003         1380 non-null   float64
 34  2004         1380 non-null   float64
 35  2005         1380 non-null   float64
 36  2006         1380 non-null   float64
 37  2007         1380 non-null   float64
 38  2008         1380 non-null   float64
 39  2009         1380 non-null   float64
 40  2010         1380 non-null   float64
 41  2011         1380 non-null   float64
 42  2012         1380 non-null   float64
 43  2013         1380 non-null   float64
 44  2014         1380 non-null   float64
 45  2015         1380 non-null   float64
 46  2016         1380 non-null   float64
 47  2017         1380 non-null   float64
 48  2018         1380 non-null   float64
 49  2019         1380 non-null   float64
 50  2020         1380 non-null   float64
dtypes: float64(45), object(6)
memory usage: 560.6+ KB

In [5]:
sainc4.rename(columns={'GeoFIPS':'fips'},inplace=True)
sainc4=sainc4.astype({'fips': 'str'})
sainc4.fips = sainc4.fips.apply(lambda x: x.strip()[1:-1])
sainc4=sainc4.astype({'fips': 'int'})
sainc4.fips = sainc4.fips.apply(lambda x: int(x/1000))
sainc4.fips.unique()

array([ 0,  1,  2,  4,  5,  6,  8,  9, 10, 11, 12, 13, 15, 16, 17, 18, 19,
       20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
       37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55,
       56, 91, 92, 93, 94, 95, 96, 97, 98], dtype=int64)

In [6]:
sainc4=sainc4[sainc4.fips<90]

In [7]:
sainc4.rename(columns={'GeoName':'state'},inplace=True)

In [8]:
sainc4[['LineCode','Description','Unit']].drop_duplicates()

,LineCode,Description,Unit
0,10.0,Personal income (millions of dollars),Millions of dollars
1,11.0,Nonfarm personal income 1/,Millions of dollars
2,12.0,Farm income 2/,Millions of dollars
3,20.0,Population (persons) 3/,Number of persons
4,30.0,Per capita personal income (dollars) 4/,Dollars
5,35.0,Earnings by place of work,Millions of dollars
6,36.0,Less: Contributions for government social ins...,Millions of dollars
7,37.0,Employee and self-employed contributions for...,Millions of dollars
8,38.0,Employer contributions for government social...,Millions of dollars
9,42.0,Plus: Adjustment for residence 6/,Millions of dollars
10,45.0,Equals: Net earnings by place of residence,Millions of dollars
11,46.0,"Plus: Dividends, interest, and rent 7/",Millions of dollars
12,47.0,Plus: Personal current transfer receipts,Millions of dollars
13,50.0,Wages and salaries,Millions of dollars
14,60.0,Supplements to wages and salaries,Millions of dollars
15,61.0,Employer contributions for employee pension ...,Millions of dollars
16,62.0,Employer contributions for government social...,Millions of dollars
17,70.0,Proprietors' income 9/,Millions of dollars
18,71.0,Farm proprietors' income,Millions of dollars
19,72.0,Nonfarm proprietors' income,Millions of dollars
20,7010.0,Total employment,Number of jobs
21,7020.0,Wage and salary employment,Number of jobs
22,7040.0,Proprietors employment,Number of jobs

In [9]:
def str_transform(feature,unit):
    feature=feature.strip()
    if feature[-1]=='/':
        feature=feature[:-3]
    return feature+', '+unit.strip()

In [10]:
sainc4.Description=pd.Series([str_transform(x,y) for x,y in zip(sainc4.Description,sainc4.Unit)])

In [11]:
sainc4.rename(columns={'LineCode':'code','Description':'features'},inplace=True)
sainc4=sainc4.astype({'code': 'int'})
sainc4.drop(columns=['Unit'],inplace=True)

In [12]:
sainc4=sainc4[sainc4.features!='Population (persons), Number of persons']

In [13]:
sainc4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1144 entries, 0 to 1195
Data columns (total 50 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fips       1144 non-null   int64
 1   state      1144 non-null   object
 2   TableName  1144 non-null   object
 3   code       1144 non-null   int32
 4   features   1144 non-null   object
 5   1976       1144 non-null   float64
 6   1977       1144 non-null   float64
 7   1978       1144 non-null   float64
 8   1979       1144 non-null   float64
 9   1980       1144 non-null   float64
 10  1981       1144 non-null   float64
 11  1982       1144 non-null   float64
 12  1983       1144 non-null   object
 13  1984       1144 non-null   float64
 14  1985       1144 non-null   float64
 15  1986       1144 non-null   float64
 16  1987       1144 non-null   float64
 17  1988       1144 non-null   float64
 18  1989       1144 non-null   float64
 19  1990       1144 non-null   float64
 20  1991       1144 non-null   float64
 21  1992       1144 non-null   float64
 22  1993       1144 non-null   float64
 23  1994       1144 non-null   float64
 24  1995       1144 non-null   float64
 25  1996       1144 non-null   float64
 26  1997       1144 non-null   float64
 27  1998       1144 non-null   float64
 28  1999       1144 non-null   float64
 29  2000       1144 non-null   float64
 30  2001       1144 non-null   float64
 31  2002       1144 non-null   float64
 32  2003       1144 non-null   float64
 33  2004       1144 non-null   float64
 34  2005       1144 non-null   float64
 35  2006       1144 non-null   float64
 36  2007       1144 non-null   float64
 37  2008       1144 non-null   float64
 38  2009       1144 non-null   float64
 39  2010       1144 non-null   float64
 40  2011       1144 non-null   float64
 41  2012       1144 non-null   float64
 42  2013       1144 non-null   float64
 43  2014       1144 non-null   float64
 44  2015       1144 non-null   float64
 45  2016       1144 non-null   float64
 46  2017       1144 non-null   float64
 47  2018       1144 non-null   float64
 48  2019       1144 non-null   float64
 49  2020       1144 non-null   float64
dtypes: float64(44), int32(1), int64(1), object(4)
memory usage: 451.3+ KB

In [14]:
def attempt_conversion(x):
    try:
        float(x)
    except:
        return True
    else:
        return False

In [15]:
sainc4[sainc4['1983'].apply(attempt_conversion)]

,fips,state,TableName,code,features,1976,1977,1978,1979,1980,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
64,2,Alaska *,SAINC4,71,"Farm proprietors' income, Millions of dollars",2.7,3.1,3.0,1.2,1.0,...,-12.6,-9.2,-10.5,-9.5,-7.9,-5.8,-14.5,-11.7,-10.2,34.2

In [16]:
sainc4=sainc4[sainc4.features!="Farm proprietors' income, Millions of dollars"]

In [17]:
sainc4=sainc4.astype({'1983':'float'})

In [18]:
sainc4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1092 entries, 0 to 1195
Data columns (total 50 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fips       1092 non-null   int64
 1   state      1092 non-null   object
 2   TableName  1092 non-null   object
 3   code       1092 non-null   int32
 4   features   1092 non-null   object
 5   1976       1092 non-null   float64
 6   1977       1092 non-null   float64
 7   1978       1092 non-null   float64
 8   1979       1092 non-null   float64
 9   1980       1092 non-null   float64
 10  1981       1092 non-null   float64
 11  1982       1092 non-null   float64
 12  1983       1092 non-null   float64
 13  1984       1092 non-null   float64
 14  1985       1092 non-null   float64
 15  1986       1092 non-null   float64
 16  1987       1092 non-null   float64
 17  1988       1092 non-null   float64
 18  1989       1092 non-null   float64
 19  1990       1092 non-null   float64
 20  1991       1092 non-null   float64
 21  1992       1092 non-null   float64
 22  1993       1092 non-null   float64
 23  1994       1092 non-null   float64
 24  1995       1092 non-null   float64
 25  1996       1092 non-null   float64
 26  1997       1092 non-null   float64
 27  1998       1092 non-null   float64
 28  1999       1092 non-null   float64
 29  2000       1092 non-null   float64
 30  2001       1092 non-null   float64
 31  2002       1092 non-null   float64
 32  2003       1092 non-null   float64
 33  2004       1092 non-null   float64
 34  2005       1092 non-null   float64
 35  2006       1092 non-null   float64
 36  2007       1092 non-null   float64
 37  2008       1092 non-null   float64
 38  2009       1092 non-null   float64
 39  2010       1092 non-null   float64
 40  2011       1092 non-null   float64
 41  2012       1092 non-null   float64
 42  2013       1092 non-null   float64
 43  2014       1092 non-null   float64
 44  2015       1092 non-null   float64
 45  2016       1092 non-null   float64
 46  2017       1092 non-null   float64
 47  2018       1092 non-null   float64
 48  2019       1092 non-null   float64
 49  2020       1092 non-null   float64
dtypes: float64(45), int32(1), int64(1), object(3)
memory usage: 430.8+ KB

In [19]:
sainc4.describe()

,fips,code,1976,1977,1978,1979,1980,1981,1982,1983,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
count,1092.000000,1092.000000,1.092000e+03,1.092000e+03,1.092000e+03,1.092000e+03,1.092000e+03,1.092000e+03,1.092000e+03,1.092000e+03,...,1.092000e+03,1.092000e+03,1.092000e+03,1.092000e+03,1.092000e+03,1.092000e+03,1.092000e+03,1.092000e+03,1.092000e+03,1.092000e+03
mean,28.403846,1039.714286,3.858133e+05,3.999294e+05,4.188784e+05,4.335685e+05,4.385898e+05,4.444036e+05,4.431393e+05,4.502853e+05,...,7.633013e+05,7.797573e+05,7.950146e+05,8.157795e+05,8.366084e+05,8.514720e+05,8.690402e+05,8.906879e+05,9.019735e+05,8.697763e+05
std,16.034075,2443.984908,4.139257e+06,4.280491e+06,4.476520e+06,4.620179e+06,4.646991e+06,4.684208e+06,4.639965e+06,4.692892e+06,...,6.997629e+06,7.122385e+06,7.252761e+06,7.408569e+06,7.571041e+06,7.694814e+06,7.812334e+06,7.963142e+06,8.036445e+06,7.603417e+06
min,0.000000,10.000000,-6.285800e+03,-6.842700e+03,-7.700100e+03,-8.592300e+03,-9.709200e+03,-1.040580e+04,-1.093450e+04,-1.123440e+04,...,-5.396360e+04,-5.638000e+04,-5.626000e+04,-6.020730e+04,-6.245860e+04,-6.405240e+04,-6.984380e+04,-7.663000e+04,-8.241940e+04,-8.071670e+04
25%,15.750000,36.000000,7.356500e+02,8.175000e+02,9.559250e+02,1.075725e+03,1.097700e+03,1.325350e+03,1.347900e+03,1.479650e+03,...,7.254000e+03,7.783700e+03,8.140050e+03,8.464925e+03,8.334300e+03,8.778750e+03,9.154400e+03,9.791175e+03,1.004588e+04,1.035988e+04
50%,28.500000,46.000000,3.408500e+03,3.831450e+03,4.302900e+03,4.842700e+03,5.371750e+03,6.183900e+03,6.603350e+03,7.124300e+03,...,3.324295e+04,3.480720e+04,3.538775e+04,3.695305e+04,3.841105e+04,3.895710e+04,4.041960e+04,4.222640e+04,4.431960e+04,4.569755e+04
75%,41.250000,62.000000,1.946160e+04,2.180250e+04,2.446730e+04,2.764370e+04,3.023938e+04,3.357073e+04,3.541165e+04,3.812135e+04,...,1.605236e+05,1.683430e+05,1.714007e+05,1.800445e+05,1.861956e+05,1.907433e+05,1.981586e+05,2.063265e+05,2.160115e+05,2.196499e+05
max,56.000000,7040.000000,1.015912e+08,1.050422e+08,1.096866e+08,1.131471e+08,1.139832e+08,1.149140e+08,1.141633e+08,1.156457e+08,...,1.760917e+08,1.789797e+08,1.823251e+08,1.862338e+08,1.903258e+08,1.934259e+08,1.963931e+08,2.002802e+08,2.016442e+08,1.907768e+08

In [20]:
df=sainc4.drop(columns=['fips','state','features','TableName'])

In [21]:
codes_of_negative_features=df[(df<0).any(axis=1)].code.unique().flatten().tolist()
codes_of_negative_features

[42, 12]

In [22]:
sainc4=sainc4[~(sainc4.code.isin(codes_of_negative_features))]

In [23]:
sainc4.drop(columns=['fips']).describe().loc['min'].min()

10.0

In [24]:
sainc4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 988 entries, 0 to 1195
Data columns (total 50 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fips       988 non-null    int64
 1   state      988 non-null    object
 2   TableName  988 non-null    object
 3   code       988 non-null    int32
 4   features   988 non-null    object
 5   1976       988 non-null    float64
 6   1977       988 non-null    float64
 7   1978       988 non-null    float64
 8   1979       988 non-null    float64
 9   1980       988 non-null    float64
 10  1981       988 non-null    float64
 11  1982       988 non-null    float64
 12  1983       988 non-null    float64
 13  1984       988 non-null    float64
 14  1985       988 non-null    float64
 15  1986       988 non-null    float64
 16  1987       988 non-null    float64
 17  1988       988 non-null    float64
 18  1989       988 non-null    float64
 19  1990       988 non-null    float64
 20  1991       988 non-null    float64
 21  1992       988 non-null    float64
 22  1993       988 non-null    float64
 23  1994       988 non-null    float64
 24  1995       988 non-null    float64
 25  1996       988 non-null    float64
 26  1997       988 non-null    float64
 27  1998       988 non-null    float64
 28  1999       988 non-null    float64
 29  2000       988 non-null    float64
 30  2001       988 non-null    float64
 31  2002       988 non-null    float64
 32  2003       988 non-null    float64
 33  2004       988 non-null    float64
 34  2005       988 non-null    float64
 35  2006       988 non-null    float64
 36  2007       988 non-null    float64
 37  2008       988 non-null    float64
 38  2009       988 non-null    float64
 39  2010       988 non-null    float64
 40  2011       988 non-null    float64
 41  2012       988 non-null    float64
 42  2013       988 non-null    float64
 43  2014       988 non-null    float64
 44  2015       988 non-null    float64
 45  2016       988 non-null    float64
 46  2017       988 non-null    float64
 47  2018       988 non-null    float64
 48  2019       988 non-null    float64
 49  2020       988 non-null    float64
dtypes: float64(45), int32(1), int64(1), object(3)
memory usage: 389.8+ KB

In [25]:
sainc4.features.unique().tolist()

['Personal income (millions of dollars), Millions of dollars',
 'Nonfarm personal income, Millions of dollars',
 'Per capita personal income (dollars), Dollars',
 'Earnings by place of work, Millions of dollars',
 'Less: Contributions for government social insurance, Millions of dollars',
 'Employee and self-employed contributions for government social insurance, Millions of dollars',
 'Employer contributions for government social insurance, Millions of dollars',
 'Equals: Net earnings by place of residence, Millions of dollars',
 'Plus: Dividends, interest, and rent, Millions of dollars',
 'Plus: Personal current transfer receipts, Millions of dollars',
 'Wages and salaries, Millions of dollars',
 'Supplements to wages and salaries, Millions of dollars',
 'Employer contributions for employee pension and insurance funds, Millions of dollars',
 "Proprietors' income, Millions of dollars",
 "Nonfarm proprietors' income, Millions of dollars",
 'Total employment, Number of jobs',
 'Wage and salary employment, Number of jobs',
 'Proprietors employment, Number of jobs']

In [26]:
sainc4.to_csv('data/sainc.csv',index=False,mode='a')