In [1]:
# Surpress warnings:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

import numpy as np
import pandas as pd

In [2]:
sainc30=pd.read_csv('data/income/SAINC30__ALL_AREAS_1958_2020.csv')
sainc30.drop(columns=['IndustryClassification','Region'],inplace=True)
sainc30=sainc30[~(sainc30.isnull().any(axis=1))]

In [3]:
sainc30.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2460 entries, 0 to 2459
Data columns (total 69 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GeoFIPS      2460 non-null   object
 1   GeoName      2460 non-null   object
 2   TableName    2460 non-null   object
 3   LineCode     2460 non-null   float64
 4   Description  2460 non-null   object
 5   Unit         2460 non-null   object
 6   1958         2460 non-null   object
 7   1959         2460 non-null   object
 8   1960         2460 non-null   object
 9   1961         2460 non-null   object
 10  1962         2460 non-null   object
 11  1963         2460 non-null   object
 12  1964         2460 non-null   object
 13  1965         2460 non-null   object
 14  1966         2460 non-null   object
 15  1967         2460 non-null   object
 16  1968         2460 non-null   object
 17  1969         2460 non-null   float64
 18  1970         2460 non-null   float64
 19  1971         2460 non-null   float64
 20  1972         2460 non-null   float64
 21  1973         2460 non-null   float64
 22  1974         2460 non-null   float64
 23  1975         2460 non-null   float64
 24  1976         2460 non-null   float64
 25  1977         2460 non-null   float64
 26  1978         2460 non-null   float64
 27  1979         2460 non-null   float64
 28  1980         2460 non-null   float64
 29  1981         2460 non-null   float64
 30  1982         2460 non-null   float64
 31  1983         2460 non-null   object
 32  1984         2460 non-null   float64
 33  1985         2460 non-null   float64
 34  1986         2460 non-null   float64
 35  1987         2460 non-null   float64
 36  1988         2460 non-null   object
 37  1989         2460 non-null   float64
 38  1990         2460 non-null   float64
 39  1991         2460 non-null   float64
 40  1992         2460 non-null   float64
 41  1993         2460 non-null   float64
 42  1994         2460 non-null   float64
 43  1995         2460 non-null   float64
 44  1996         2460 non-null   float64
 45  1997         2460 non-null   float64
 46  1998         2460 non-null   float64
 47  1999         2460 non-null   float64
 48  2000         2460 non-null   float64
 49  2001         2460 non-null   float64
 50  2002         2460 non-null   float64
 51  2003         2460 non-null   float64
 52  2004         2460 non-null   float64
 53  2005         2460 non-null   float64
 54  2006         2460 non-null   float64
 55  2007         2460 non-null   float64
 56  2008         2460 non-null   float64
 57  2009         2460 non-null   float64
 58  2010         2460 non-null   float64
 59  2011         2460 non-null   float64
 60  2012         2460 non-null   float64
 61  2013         2460 non-null   float64
 62  2014         2460 non-null   float64
 63  2015         2460 non-null   float64
 64  2016         2460 non-null   float64
 65  2017         2460 non-null   float64
 66  2018         2460 non-null   float64
 67  2019         2460 non-null   float64
 68  2020         2460 non-null   float64
dtypes: float64(51), object(18)
memory usage: 1.3+ MB

In [4]:
sainc30.drop(columns=[str(x) for x in np.arange(1958,1976)],inplace=True)

In [5]:
sainc30.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2460 entries, 0 to 2459
Data columns (total 51 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GeoFIPS      2460 non-null   object
 1   GeoName      2460 non-null   object
 2   TableName    2460 non-null   object
 3   LineCode     2460 non-null   float64
 4   Description  2460 non-null   object
 5   Unit         2460 non-null   object
 6   1976         2460 non-null   float64
 7   1977         2460 non-null   float64
 8   1978         2460 non-null   float64
 9   1979         2460 non-null   float64
 10  1980         2460 non-null   float64
 11  1981         2460 non-null   float64
 12  1982         2460 non-null   float64
 13  1983         2460 non-null   object
 14  1984         2460 non-null   float64
 15  1985         2460 non-null   float64
 16  1986         2460 non-null   float64
 17  1987         2460 non-null   float64
 18  1988         2460 non-null   object
 19  1989         2460 non-null   float64
 20  1990         2460 non-null   float64
 21  1991         2460 non-null   float64
 22  1992         2460 non-null   float64
 23  1993         2460 non-null   float64
 24  1994         2460 non-null   float64
 25  1995         2460 non-null   float64
 26  1996         2460 non-null   float64
 27  1997         2460 non-null   float64
 28  1998         2460 non-null   float64
 29  1999         2460 non-null   float64
 30  2000         2460 non-null   float64
 31  2001         2460 non-null   float64
 32  2002         2460 non-null   float64
 33  2003         2460 non-null   float64
 34  2004         2460 non-null   float64
 35  2005         2460 non-null   float64
 36  2006         2460 non-null   float64
 37  2007         2460 non-null   float64
 38  2008         2460 non-null   float64
 39  2009         2460 non-null   float64
 40  2010         2460 non-null   float64
 41  2011         2460 non-null   float64
 42  2012         2460 non-null   float64
 43  2013         2460 non-null   float64
 44  2014         2460 non-null   float64
 45  2015         2460 non-null   float64
 46  2016         2460 non-null   float64
 47  2017         2460 non-null   float64
 48  2018         2460 non-null   float64
 49  2019         2460 non-null   float64
 50  2020         2460 non-null   float64
dtypes: float64(44), object(7)
memory usage: 999.4+ KB

In [6]:
sainc30.GeoFIPS.unique()

array([' "00000"', ' "01000"', ' "02000"', ' "04000"', ' "05000"',
       ' "06000"', ' "08000"', ' "09000"', ' "10000"', ' "11000"',
       ' "12000"', ' "13000"', ' "15000"', ' "16000"', ' "17000"',
       ' "18000"', ' "19000"', ' "20000"', ' "21000"', ' "22000"',
       ' "23000"', ' "24000"', ' "25000"', ' "26000"', ' "27000"',
       ' "28000"', ' "29000"', ' "30000"', ' "31000"', ' "32000"',
       ' "33000"', ' "34000"', ' "35000"', ' "36000"', ' "37000"',
       ' "38000"', ' "39000"', ' "40000"', ' "41000"', ' "42000"',
       ' "44000"', ' "45000"', ' "46000"', ' "47000"', ' "48000"',
       ' "49000"', ' "50000"', ' "51000"', ' "53000"', ' "54000"',
       ' "55000"', ' "56000"', ' "91000"', ' "92000"', ' "93000"',
       ' "94000"', ' "95000"', ' "96000"', ' "97000"', ' "98000"'],
      dtype=object)

In [7]:
sainc30.rename(columns={'GeoFIPS':'fips'},inplace=True)
sainc30=sainc30.astype({'fips': 'str'})
sainc30.fips = sainc30.fips.apply(lambda x: x.strip()[1:-1])
sainc30=sainc30.astype({'fips': 'int'})
sainc30.fips = sainc30.fips.apply(lambda x: int(x/1000))
sainc30.fips.unique()

array([ 0,  1,  2,  4,  5,  6,  8,  9, 10, 11, 12, 13, 15, 16, 17, 18, 19,
       20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
       37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55,
       56, 91, 92, 93, 94, 95, 96, 97, 98], dtype=int64)

In [8]:
sainc30=sainc30[sainc30.fips<90]

In [9]:
sainc30.rename(columns={'GeoName':'state'},inplace=True)

In [10]:
sainc30[['LineCode','Description','Unit']].drop_duplicates()

,LineCode,Description,Unit
0,10.0,Personal income (millions of dollars),Millions of dollars
1,45.0,Net earnings by place of residence,Millions of dollars
2,50.0,Personal current transfer receipts,Millions of dollars
3,60.0,Income maintenance benefits 1/,Millions of dollars
4,70.0,Unemployment insurance compensation,Millions of dollars
5,80.0,Retirement and other,Millions of dollars
6,90.0,"Dividends, interest, and rent",Millions of dollars
7,91.0,Personal dividend income,Millions of dollars
8,92.0,Personal interest income,Millions of dollars
9,93.0,Imputed interest receipts 2/,Millions of dollars
10,94.0,Monetary interest receipts,Millions of dollars
11,95.0,Rental income of persons,Millions of dollars
12,96.0,Imputed rent,Millions of dollars
13,97.0,Monetary rent,Millions of dollars
14,100.0,Population (persons) 3/,Number of persons
15,110.0,Per capita personal income 4/,Dollars
16,120.0,Per capita net earnings 4/,Dollars
17,130.0,Per capita personal current transfer receipts 4/,Dollars
18,140.0,Per capita income maintenance benefits 4/,Dollars
19,150.0,Per capita unemployment insurance compensatio...,Dollars
20,160.0,Per capita retirement and other 4/,Dollars
21,170.0,"Per capita dividends, interest, and rent 4/",Dollars
22,171.0,Per capita dividends 4/,Dollars
23,172.0,Per capita interest 4/,Dollars
24,173.0,Per capita rent 4/,Dollars
25,180.0,Earnings by place of work,Millions of dollars
26,190.0,Wages and salaries,Millions of dollars
27,200.0,Supplements to wages and salaries,Millions of dollars
28,201.0,Employer contributions for employee pension ...,Millions of dollars
29,202.0,Employer contributions for government social...,Millions of dollars
30,210.0,Proprietors' income,Millions of dollars
31,220.0,Farm proprietors' income,Millions of dollars
32,230.0,Nonfarm proprietors' income,Millions of dollars
33,240.0,Total employment (number of jobs),Number of jobs
34,250.0,Wage and salary employment,Number of jobs
35,260.0,Proprietors employment,Number of jobs
36,270.0,Farm proprietors employment 6/,Number of jobs
37,280.0,Nonfarm proprietors employment,Number of jobs
38,290.0,Average earnings per job (dollars),Dollars
39,300.0,Average wages and salaries,Dollars
40,310.0,Average nonfarm proprietors' income,Dollars

In [11]:
def str_transform(feature,unit):
    feature=feature.strip()
    if feature[-1]=='/':
        feature=feature[:-3]
    return feature+', '+unit.strip()

In [12]:
sainc30.Description=pd.Series([str_transform(x,y) for x,y in zip(sainc30.Description,sainc30.Unit)])

In [13]:
sainc30[['LineCode','Description','Unit']].drop_duplicates()

,LineCode,Description,Unit
0,10.0,"Personal income (millions of dollars), Million...",Millions of dollars
1,45.0,"Net earnings by place of residence, Millions o...",Millions of dollars
2,50.0,"Personal current transfer receipts, Millions o...",Millions of dollars
3,60.0,"Income maintenance benefits, Millions of dollars",Millions of dollars
4,70.0,"Unemployment insurance compensation, Millions ...",Millions of dollars
5,80.0,"Retirement and other, Millions of dollars",Millions of dollars
6,90.0,"Dividends, interest, and rent, Millions of dol...",Millions of dollars
7,91.0,"Personal dividend income, Millions of dollars",Millions of dollars
8,92.0,"Personal interest income, Millions of dollars",Millions of dollars
9,93.0,"Imputed interest receipts, Millions of dollars",Millions of dollars
10,94.0,"Monetary interest receipts, Millions of dollars",Millions of dollars
11,95.0,"Rental income of persons, Millions of dollars",Millions of dollars
12,96.0,"Imputed rent, Millions of dollars",Millions of dollars
13,97.0,"Monetary rent, Millions of dollars",Millions of dollars
14,100.0,"Population (persons), Number of persons",Number of persons
15,110.0,"Per capita personal income, Dollars",Dollars
16,120.0,"Per capita net earnings, Dollars",Dollars
17,130.0,"Per capita personal current transfer receipts,...",Dollars
18,140.0,"Per capita income maintenance benefits, Dollars",Dollars
19,150.0,Per capita unemployment insurance compensation...,Dollars
20,160.0,"Per capita retirement and other, Dollars",Dollars
21,170.0,"Per capita dividends, interest, and rent, Dollars",Dollars
22,171.0,"Per capita dividends, Dollars",Dollars
23,172.0,"Per capita interest, Dollars",Dollars
24,173.0,"Per capita rent, Dollars",Dollars
25,180.0,"Earnings by place of work, Millions of dollars",Millions of dollars
26,190.0,"Wages and salaries, Millions of dollars",Millions of dollars
27,200.0,"Supplements to wages and salaries, Millions of...",Millions of dollars
28,201.0,Employer contributions for employee pension an...,Millions of dollars
29,202.0,Employer contributions for government social i...,Millions of dollars
30,210.0,"Proprietors' income, Millions of dollars",Millions of dollars
31,220.0,"Farm proprietors' income, Millions of dollars",Millions of dollars
32,230.0,"Nonfarm proprietors' income, Millions of dollars",Millions of dollars
33,240.0,"Total employment (number of jobs), Number of jobs",Number of jobs
34,250.0,"Wage and salary employment, Number of jobs",Number of jobs
35,260.0,"Proprietors employment, Number of jobs",Number of jobs
36,270.0,"Farm proprietors employment, Number of jobs",Number of jobs
37,280.0,"Nonfarm proprietors employment, Number of jobs",Number of jobs
38,290.0,"Average earnings per job (dollars), Dollars",Dollars
39,300.0,"Average wages and salaries, Dollars",Dollars
40,310.0,"Average nonfarm proprietors' income, Dollars",Dollars

In [14]:
sainc30.rename(columns={'LineCode':'code','Description':'features'},inplace=True)
sainc30=sainc30.astype({'code': 'int'})
sainc30.drop(columns=['Unit'],inplace=True)

In [15]:
#sainc30=sainc30[sainc30.features!='Population (persons), Number of persons']

In [16]:
sainc30.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2132 entries, 0 to 2131
Data columns (total 50 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fips       2132 non-null   int64
 1   state      2132 non-null   object
 2   TableName  2132 non-null   object
 3   code       2132 non-null   int32
 4   features   2132 non-null   object
 5   1976       2132 non-null   float64
 6   1977       2132 non-null   float64
 7   1978       2132 non-null   float64
 8   1979       2132 non-null   float64
 9   1980       2132 non-null   float64
 10  1981       2132 non-null   float64
 11  1982       2132 non-null   float64
 12  1983       2132 non-null   object
 13  1984       2132 non-null   float64
 14  1985       2132 non-null   float64
 15  1986       2132 non-null   float64
 16  1987       2132 non-null   float64
 17  1988       2132 non-null   object
 18  1989       2132 non-null   float64
 19  1990       2132 non-null   float64
 20  1991       2132 non-null   float64
 21  1992       2132 non-null   float64
 22  1993       2132 non-null   float64
 23  1994       2132 non-null   float64
 24  1995       2132 non-null   float64
 25  1996       2132 non-null   float64
 26  1997       2132 non-null   float64
 27  1998       2132 non-null   float64
 28  1999       2132 non-null   float64
 29  2000       2132 non-null   float64
 30  2001       2132 non-null   float64
 31  2002       2132 non-null   float64
 32  2003       2132 non-null   float64
 33  2004       2132 non-null   float64
 34  2005       2132 non-null   float64
 35  2006       2132 non-null   float64
 36  2007       2132 non-null   float64
 37  2008       2132 non-null   float64
 38  2009       2132 non-null   float64
 39  2010       2132 non-null   float64
 40  2011       2132 non-null   float64
 41  2012       2132 non-null   float64
 42  2013       2132 non-null   float64
 43  2014       2132 non-null   float64
 44  2015       2132 non-null   float64
 45  2016       2132 non-null   float64
 46  2017       2132 non-null   float64
 47  2018       2132 non-null   float64
 48  2019       2132 non-null   float64
 49  2020       2132 non-null   float64
dtypes: float64(43), int32(1), int64(1), object(5)
memory usage: 841.1+ KB

In [17]:
sainc30.features.unique().tolist()

['Personal income (millions of dollars), Millions of dollars',
 'Net earnings by place of residence, Millions of dollars',
 'Personal current transfer receipts, Millions of dollars',
 'Income maintenance benefits, Millions of dollars',
 'Unemployment insurance compensation, Millions of dollars',
 'Retirement and other, Millions of dollars',
 'Dividends, interest, and rent, Millions of dollars',
 'Personal dividend income, Millions of dollars',
 'Personal interest income, Millions of dollars',
 'Imputed interest receipts, Millions of dollars',
 'Monetary interest receipts, Millions of dollars',
 'Rental income of persons, Millions of dollars',
 'Imputed rent, Millions of dollars',
 'Monetary rent, Millions of dollars',
 'Population (persons), Number of persons',
 'Per capita personal income, Dollars',
 'Per capita net earnings, Dollars',
 'Per capita personal current transfer receipts, Dollars',
 'Per capita income maintenance benefits, Dollars',
 'Per capita unemployment insurance compensation, Dollars',
 'Per capita retirement and other, Dollars',
 'Per capita dividends, interest, and rent, Dollars',
 'Per capita dividends, Dollars',
 'Per capita interest, Dollars',
 'Per capita rent, Dollars',
 'Earnings by place of work, Millions of dollars',
 'Wages and salaries, Millions of dollars',
 'Supplements to wages and salaries, Millions of dollars',
 'Employer contributions for employee pension and insurance funds, Millions of dollars',
 'Employer contributions for government social insurance, Millions of dollars',
 "Proprietors' income, Millions of dollars",
 "Farm proprietors' income, Millions of dollars",
 "Nonfarm proprietors' income, Millions of dollars",
 'Total employment (number of jobs), Number of jobs',
 'Wage and salary employment, Number of jobs',
 'Proprietors employment, Number of jobs',
 'Farm proprietors employment, Number of jobs',
 'Nonfarm proprietors employment, Number of jobs',
 'Average earnings per job (dollars), Dollars',
 'Average wages and salaries, Dollars',
 "Average nonfarm proprietors' income, Dollars"]

In [18]:
sainc30.describe()

,fips,code,1976,1977,1978,1979,1980,1981,1982,1984,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
count,2132.000000,2132.000000,2.132000e+03,2.132000e+03,2.132000e+03,2.132000e+03,2.132000e+03,2.132000e+03,2.132000e+03,2.132000e+03,...,2.132000e+03,2.132000e+03,2.132000e+03,2.132000e+03,2.132000e+03,2.132000e+03,2.132000e+03,2.132000e+03,2.132000e+03,2.132000e+03
mean,28.403846,158.341463,4.153768e+05,4.250588e+05,4.371656e+05,4.473019e+05,4.529177e+05,4.582085e+05,4.603415e+05,4.795057e+05,...,7.165203e+05,7.270794e+05,7.374996e+05,7.511251e+05,7.648472e+05,7.751399e+05,7.866753e+05,8.003872e+05,8.065084e+05,7.898413e+05
std,16.030492,77.258831,5.645794e+06,5.740780e+06,5.860036e+06,5.962305e+06,6.022371e+06,6.078675e+06,6.103120e+06,6.282722e+06,...,8.545513e+06,8.639023e+06,8.735189e+06,8.844922e+06,8.958553e+06,9.054590e+06,9.143294e+06,9.241970e+06,9.297617e+06,9.124713e+06
min,0.000000,10.000000,-1.050000e+01,-1.810000e+01,-6.700000e+00,-1.610000e+01,-4.654000e+02,-4.370000e+01,-5.210000e+01,-1.181000e+03,...,-2.000000e+01,-4.720000e+01,-1.330000e+01,-2.880000e+01,-1.713000e+02,-2.569000e+02,-2.113000e+02,-5.467000e+02,-8.420000e+01,-1.300000e+00
25%,15.750000,94.000000,3.804750e+02,3.887250e+02,4.205000e+02,4.811750e+02,5.222750e+02,5.885750e+02,6.341000e+02,7.282250e+02,...,3.795325e+03,3.929325e+03,3.946375e+03,4.049175e+03,4.114875e+03,4.152050e+03,4.294450e+03,4.514550e+03,4.655325e+03,5.021750e+03
50%,28.500000,160.000000,1.705900e+03,1.891650e+03,2.124350e+03,2.388050e+03,2.716200e+03,3.081100e+03,3.230050e+03,3.971600e+03,...,1.579945e+04,1.666430e+04,1.678285e+04,1.775225e+04,1.850665e+04,1.848700e+04,1.926750e+04,1.983330e+04,2.041675e+04,2.164915e+04
75%,41.250000,210.000000,1.012275e+04,1.086075e+04,1.189108e+04,1.298550e+04,1.394225e+04,1.530840e+04,1.626500e+04,1.827750e+04,...,5.363975e+04,5.592953e+04,5.724800e+04,5.916177e+04,6.105610e+04,6.083775e+04,6.245517e+04,6.505780e+04,6.682308e+04,7.306170e+04
max,56.000000,310.000000,2.175539e+08,2.197609e+08,2.220982e+08,2.245686e+08,2.272247e+08,2.294657e+08,2.316644e+08,2.358249e+08,...,3.115835e+08,3.138777e+08,3.160599e+08,3.183863e+08,3.207390e+08,3.230718e+08,3.251221e+08,3.268382e+08,3.283300e+08,3.294841e+08

In [19]:
df=sainc30[sainc30.fips!=0]

In [20]:
features_with_zeros=df[(df == 0).any(axis=1)].features.unique().tolist()
features_with_zeros

["Farm proprietors' income, Millions of dollars",
 'Farm proprietors employment, Number of jobs']

In [21]:
df=sainc30[sainc30.fips==0].drop(columns=['fips'])

In [22]:
df[(df == 0).any(axis=1)]

Empty DataFrame
Columns: [state, TableName, code, features, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
Index: []

[0 rows x 49 columns]

In [23]:
sainc30=sainc30[~(sainc30.features.isin(features_with_zeros))]

In [24]:
sainc30.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2028 entries, 0 to 2131
Data columns (total 50 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fips       2028 non-null   int64
 1   state      2028 non-null   object
 2   TableName  2028 non-null   object
 3   code       2028 non-null   int32
 4   features   2028 non-null   object
 5   1976       2028 non-null   float64
 6   1977       2028 non-null   float64
 7   1978       2028 non-null   float64
 8   1979       2028 non-null   float64
 9   1980       2028 non-null   float64
 10  1981       2028 non-null   float64
 11  1982       2028 non-null   float64
 12  1983       2028 non-null   object
 13  1984       2028 non-null   float64
 14  1985       2028 non-null   float64
 15  1986       2028 non-null   float64
 16  1987       2028 non-null   float64
 17  1988       2028 non-null   object
 18  1989       2028 non-null   float64
 19  1990       2028 non-null   float64
 20  1991       2028 non-null   float64
 21  1992       2028 non-null   float64
 22  1993       2028 non-null   float64
 23  1994       2028 non-null   float64
 24  1995       2028 non-null   float64
 25  1996       2028 non-null   float64
 26  1997       2028 non-null   float64
 27  1998       2028 non-null   float64
 28  1999       2028 non-null   float64
 29  2000       2028 non-null   float64
 30  2001       2028 non-null   float64
 31  2002       2028 non-null   float64
 32  2003       2028 non-null   float64
 33  2004       2028 non-null   float64
 34  2005       2028 non-null   float64
 35  2006       2028 non-null   float64
 36  2007       2028 non-null   float64
 37  2008       2028 non-null   float64
 38  2009       2028 non-null   float64
 39  2010       2028 non-null   float64
 40  2011       2028 non-null   float64
 41  2012       2028 non-null   float64
 42  2013       2028 non-null   float64
 43  2014       2028 non-null   float64
 44  2015       2028 non-null   float64
 45  2016       2028 non-null   float64
 46  2017       2028 non-null   float64
 47  2018       2028 non-null   float64
 48  2019       2028 non-null   float64
 49  2020       2028 non-null   float64
dtypes: float64(43), int32(1), int64(1), object(5)
memory usage: 800.1+ KB

In [25]:
def attempt_conversion(x):
    try:
        float(x)
    except:
        return True
    else:
        return False

In [26]:
sainc30[sainc30['1983'].apply(attempt_conversion)]

Empty DataFrame
Columns: [fips, state, TableName, code, features, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
Index: []

[0 rows x 50 columns]

In [27]:
sainc30[sainc30['1988'].apply(attempt_conversion)]

,fips,state,TableName,code,features,1976,1977,1978,1979,1980,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
668,19,Iowa,SAINC30,96,"Imputed rent, Millions of dollars",191.9,144.3,142.5,119.3,118.5,...,3395.4,3609.8,3880.5,4098.9,4091.4,4338.4,4577.7,4519.4,4652.7,4824.6

In [28]:
sainc30.loc[668]['1988']

'(L)'

In [29]:
sainc30.loc[668]

fips                                        19
state                                     Iowa
TableName                              SAINC30
code                                        96
features     Imputed rent, Millions of dollars
1976                                     191.9
1977                                     144.3
1978                                     142.5
1979                                     119.3
1980                                     118.5
1981                                     112.3
1982                                      61.2
1983                                      38.1
1984                                      10.4
1985                                     -19.5
1986                                     -58.5
1987                                     -52.1
1988                                       (L)
1989                                      14.8
1990                                      46.2
1991                                      87.1
1992                                     171.0
1993                                     328.7
1994                                     457.8
1995                                     515.0
1996                                     632.4
1997                                     648.8
1998                                     766.9
1999                                     862.8
2000                                     923.4
2001                                    1069.0
2002                                    1080.5
2003                                    1326.6
2004                                    1510.5
2005                                    1381.9
2006                                    1082.9
2007                                    1033.0
2008                                    1695.7
2009                                    2192.4
2010                                    2793.7
2011                                    3395.4
2012                                    3609.8
2013                                    3880.5
2014                                    4098.9
2015                                    4091.4
2016                                    4338.4
2017                                    4577.7
2018                                    4519.4
2019                                    4652.7
2020                                    4824.6
Name: 668, dtype: object

In [30]:
sainc30=sainc30[sainc30.features!='Imputed rent, Millions of dollars']

In [31]:
sainc30=sainc30.astype({'1983': 'float', '1988': 'float'})

In [32]:
sainc30.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1976 entries, 0 to 2131
Data columns (total 50 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fips       1976 non-null   int64
 1   state      1976 non-null   object
 2   TableName  1976 non-null   object
 3   code       1976 non-null   int32
 4   features   1976 non-null   object
 5   1976       1976 non-null   float64
 6   1977       1976 non-null   float64
 7   1978       1976 non-null   float64
 8   1979       1976 non-null   float64
 9   1980       1976 non-null   float64
 10  1981       1976 non-null   float64
 11  1982       1976 non-null   float64
 12  1983       1976 non-null   float64
 13  1984       1976 non-null   float64
 14  1985       1976 non-null   float64
 15  1986       1976 non-null   float64
 16  1987       1976 non-null   float64
 17  1988       1976 non-null   float64
 18  1989       1976 non-null   float64
 19  1990       1976 non-null   float64
 20  1991       1976 non-null   float64
 21  1992       1976 non-null   float64
 22  1993       1976 non-null   float64
 23  1994       1976 non-null   float64
 24  1995       1976 non-null   float64
 25  1996       1976 non-null   float64
 26  1997       1976 non-null   float64
 27  1998       1976 non-null   float64
 28  1999       1976 non-null   float64
 29  2000       1976 non-null   float64
 30  2001       1976 non-null   float64
 31  2002       1976 non-null   float64
 32  2003       1976 non-null   float64
 33  2004       1976 non-null   float64
 34  2005       1976 non-null   float64
 35  2006       1976 non-null   float64
 36  2007       1976 non-null   float64
 37  2008       1976 non-null   float64
 38  2009       1976 non-null   float64
 39  2010       1976 non-null   float64
 40  2011       1976 non-null   float64
 41  2012       1976 non-null   float64
 42  2013       1976 non-null   float64
 43  2014       1976 non-null   float64
 44  2015       1976 non-null   float64
 45  2016       1976 non-null   float64
 46  2017       1976 non-null   float64
 47  2018       1976 non-null   float64
 48  2019       1976 non-null   float64
 49  2020       1976 non-null   float64
dtypes: float64(45), int32(1), int64(1), object(3)
memory usage: 779.6+ KB

In [33]:
df=sainc30.drop(columns=['fips','state','code','features'])

In [34]:
df.describe().loc['min'].min()

7.7

In [35]:
sainc30.features.unique().tolist()

['Personal income (millions of dollars), Millions of dollars',
 'Net earnings by place of residence, Millions of dollars',
 'Personal current transfer receipts, Millions of dollars',
 'Income maintenance benefits, Millions of dollars',
 'Unemployment insurance compensation, Millions of dollars',
 'Retirement and other, Millions of dollars',
 'Dividends, interest, and rent, Millions of dollars',
 'Personal dividend income, Millions of dollars',
 'Personal interest income, Millions of dollars',
 'Imputed interest receipts, Millions of dollars',
 'Monetary interest receipts, Millions of dollars',
 'Rental income of persons, Millions of dollars',
 'Monetary rent, Millions of dollars',
 'Population (persons), Number of persons',
 'Per capita personal income, Dollars',
 'Per capita net earnings, Dollars',
 'Per capita personal current transfer receipts, Dollars',
 'Per capita income maintenance benefits, Dollars',
 'Per capita unemployment insurance compensation, Dollars',
 'Per capita retirement and other, Dollars',
 'Per capita dividends, interest, and rent, Dollars',
 'Per capita dividends, Dollars',
 'Per capita interest, Dollars',
 'Per capita rent, Dollars',
 'Earnings by place of work, Millions of dollars',
 'Wages and salaries, Millions of dollars',
 'Supplements to wages and salaries, Millions of dollars',
 'Employer contributions for employee pension and insurance funds, Millions of dollars',
 'Employer contributions for government social insurance, Millions of dollars',
 "Proprietors' income, Millions of dollars",
 "Nonfarm proprietors' income, Millions of dollars",
 'Total employment (number of jobs), Number of jobs',
 'Wage and salary employment, Number of jobs',
 'Proprietors employment, Number of jobs',
 'Nonfarm proprietors employment, Number of jobs',
 'Average earnings per job (dollars), Dollars',
 'Average wages and salaries, Dollars',
 "Average nonfarm proprietors' income, Dollars"]

In [36]:
sainc30.to_csv('data/sainc.csv',index=False,mode='a')